body{
    background-image: url('./RE4wEb0.jpg');
    border: 10px dotted rgb(252, 236, 236);
    
}

body h1{
    font-style:oblique;
    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;
    font-size:large;
    color: aqua;
    border-style:double;
    border-width:thick;
    border-color:azure;
}